html {
    text-align: center;
    align-items: center;
    background-color: #21212b;
    color: #833f74;
    display: flex;
    font: 22px "Courier New", Courier, monospace;
    height: 100%;
    justify-content: center;
    margin: 0;
  }

  body {
    display: flex;
    margin: 1em;
    padding: 1em;
  }

  h1 {
    font-size: 2em;
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
    color: #a54242;
  }

  a {
    color: #aaaaaa;
    text-decoration: none;
  }

  a:focus,
    a:hover {
    color: #a54242;
  }

  nav {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    min-width: 15em;
    padding-top: 2em ;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    background-color: #181821;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  li:first-child {
    font-weight: bold;
    line-height: 2em;
    color: #5f819d;
  }

    video {
      height: auto;
      object-fit: cover;
      object-position: 50% 100%;
      width: 10em;
    }
